<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MonoNancyDataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup></configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <MonoNancyDataService.Properties.Settings>
            <setting name="Uri" serializeAs="String">
                <value>http://localhost:6050</value>
            </setting>
            <setting name="RewriteLocalHost" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ContentLoc" serializeAs="String">
                <value>content</value>
            </setting>
            <setting name="ViewLoc" serializeAs="String">
                <value>views</value>
            </setting>
            <setting name="HomePage" serializeAs="String">
                <value>index.htm</value>
            </setting>
            <setting name="SitePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Debug" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>/tmp/mononancydataservice/MonoNancyDataServiceLog_@@DATE.txt</value>
            </setting>
            <setting name="ConnectionString" serializeAs="String">
                <value>Driver={Client Access ODBC Driver (32-bit)};System=1.1.1.1;Uid=IBMIUSER1;Pwd=IBMIPASS;</value>
            </setting>
            <setting name="AppDescription" serializeAs="String">
                <value>Mono Nancy Data Web Service</value>
            </setting>
            <setting name="HomePageContentType" serializeAs="String">
                <value>text/html</value>
            </setting>
            <setting name="SessionTable" serializeAs="String">
                <value>MONOI.MNSESSIONS</value>
            </setting>
            <setting name="UserCheckProgram" serializeAs="String">
                <value>MONOI.MNUSRCHK01</value>
            </setting>
            <setting name="AuthEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AllowMultipleLogins" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TempDirectory" serializeAs="String">
                <value>/tmp/mononancydataservice</value>
            </setting>
        </MonoNancyDataService.Properties.Settings>
    </applicationSettings>
<appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings><system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>