<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.Razor" version="3.2.7" targetFramework="net462" />
  <package id="Nancy" version="1.4.5" targetFramework="net462" />
  <package id="Nancy.Hosting.Self" version="1.4.1" targetFramework="net462" />
  <package id="Nancy.Viewengines.Razor" version="1.4.3" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net462" />
</packages>